.navbar{
    height: var(--Navbar-Height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--Mobile-Page-Padding);
    background-color: #FFC857;
}

.navbar a{
    font-weight: bold;
    font-size: 1.2rem;
}