.poll_container{
    --Button-Height: 2.5rem;
    width: 100%;
}

.poll_question{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: var(--Element-Margin-Bottom);
}

.poll_answers{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.poll_answers_single{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: var(--Element-Margin-Bottom);
    height: 2rem;
    width: 100%;
    padding: 0 .3rem;
    border-radius: 10px;
}

.poll_button{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.poll_button_vote, .poll_button_result{
    height: var(--Button-Height);
    padding: 0 1rem;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.poll_button_vote{
    background-color: var(--Blue-Button);
}

.poll_button_result{
    background-color: #FF7454;
}